<footer class="footer">
  <div class="menu-footer">
    <div class="info-footer">
      <div class="list-social-media">
        <li><a href="#">
          <i class="fa-brands fa-x-twitter"></i>
        </a></li>
        <li><a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a></li>
        <li><a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a></li>
        <li><a href="#">
          <i class="fa-brands fa-linkedin-in"></i>
        </a></li>
        <li><a href="#">
          <i class="fa-brands fa-youtube"></i>
        </a></li>
        <li><a href="#">
          <i class="fa-brands fa-whatsapp"></i>
        </a></li>
      </div>
      <div class="list-menu">
        <ul class="list-menu-items">
          <li><a href="#">Politica</a></li>
          <li><a href="#">Economia</a></li>
          <li><a href="#">Deportes</a></li>
          <li><a href="#">Espectaculos</a></li>
          <li><a href="#">Internacional</a></li>
        </ul>
      </div>
      <div class="info-diario">
        <ul>
          <li>Editor: Facundo Maza</li>
          <li>
            Director: Facundo Maza - Propietario: Maza S.A. - Domicilio: La Rioja 310 - San Miguel de Tucumán
          </li>
          <li>
            Copyright © 2024 newspapper.com - Todos los derechos reservados - Términos y condiciones de uso
          </li>
        </ul>
      </div>
    </div>
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
  </div>
</footer>
